body {
    background: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif, Times, serif;

}
h1 {
    text-align: center;
    color: #ff0000;
}
.about {
background: #ffffff;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; 
  align-items: flex-start;
  max-width: 1200px;   
  margin: 0 auto;      
}


.project {
  box-sizing: border-box;
  flex: 0 1 48%;       
  min-width: 260px;    
  padding: 20px;
  border-radius: 25px;
  background: #ff0000;
}


.projects .project:nth-child(3) {
  flex-basis: 100%;   
  display: flex;       
  justify-content: center;
  padding-top: 40px;   
}
.projects .project:nth-child(3) .inner {
  width: 40%;         
  min-width: 220px;
}


}